*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rosybrown;

}

#cabeçalho{
    text-align: justify;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    padding-top: 3%;
    	
}

#texto1{
    text-align: justify;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}
#texto2{
    contain:content;
    text-align: center;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0x;
    max-height: 186px;
    position: absolute;
    bottom: 60%;
    width: 50%;
    right: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#foto1{
    
    display: flex;
    float:left;
    align-items: center;    
    margin-inline: 42%;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0x;
    max-width: 100%;
    height: auto;  
    
}

.botao{
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: auto;
    
    height:20px; 
    width:100px; 
    margin: 30px -70px; 
    position:relative;
    top:50%; 
    left:50%;

}
#bnt-Texto:hover{
    background-color: #4CAF50;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 27px 50px 0 rgba(0,0,0,0.19);
            
}


#textofinal *{
    contain:content;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.rodape{
    position:absolute;
    bottom:0;
    width:100%;
}
